


#OrdineTopcenter h2 {
    text-align: center;
    font-size: 2em;
    margin-top:5%;
    margin-bottom:1%;
}

#OrdineTopcenter h3 {
    font-size: 1.5em;
    padding-bottom: 1%;
    text-align: center;
}

#OrdineTopcenter span {
    color: black;
    margin-top: 5%;
    text-align: center;
}

.orderBold{
    font-weight:bold;
}

.order {
    margin-left: 2%;
}

.order p {
    padding-bottom: 1.5%;
    text-align: center;
}

#OrdineMidcenter h2 {
    padding: 3px;
    display: block;
    text-align: center;
    margin-top: 2%;
}

#OrdineMidcenter p {
    font-size: 1.5em;
}

#OrdineMidcenter .orderError {
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
}

.choice p {
    margin-bottom: 0.5em;
}

.insert {
    font-size: 2em;
}

#OrdineMidcenter .choice{
    width: 200px;
    margin: 0 auto;
}

.OrdineWrap{
    width:80%;
    margin-left:10%;
    margin-bottom:10%;
    text-align: center;
}

#button{
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ff9900;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:100%;
    font-weight:bold;
    margin-top:2%;
    padding:6px 12px;
}

#button:hover {
    background-color: #ff9b17;
}



@media screen and (min-width:320px) and (max-width:768px) {

    .order {
        width:95%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){

    #OrdineMidcenter .orderError {
        margin-bottom:5%;
    }

    #OrdineMidcenter .orderError p{
        text-align: center;
    }
}


@media screen and (min-width:1025px) {

    #OrdineTopcenter h2 {
        text-align: center;
        font-size: 2em;

    }

    #OrdineTopcenter h3 {
        font-size: 1.5em;
        text-align: center;
    }

    #OrdineTopcenter p{
        font-size:1.3em;
    }

    #OrdineMidcenter h2{
        font-size: 1.5em;
    }

    .choice {
        font-size:1em;
    }

    #button{
        font-size:150%;
    }

}

