
/*COMMON*/

html, *{
    padding: 0;
    margin: 0;
    font-family:'helveticaneue';
    background-color:#ffcc66;
}

#header a:link{
    text-align: center;
    text-decoration: none;
    color: black;
}

#header a:visited{
    color:lightslategray;
}

#header a:hover{
    color:orangered;
}


@media screen and (min-width:320px) and (max-width:768px){

    /*HEADER*/

    #logo{
        margin-top:5em;
        margin-right:auto;
        margin-left:auto;
        margin-bottom:auto;
        height:9em;
        width:12em;
        display:block;
    }

    #header{
        padding-bottom:2em;
        margin-bottom: 3em;
    }

    #menubutton {
        display: block;
        background-color: #ff8b03;
        padding: 0.2em;
        cursor: pointer;
        margin-top: 0.8em;
        margin-right: 1em;
        margin-left: 1em;
        border:none;
        border-radius: 0.3em;
        width: 3.5em;
    }

    .bar{
        height:0.3em;
        background-color:#333;
        margin:0.3em;
        display:block;
    }

    .dropdown{
        top:0;
        position:fixed;
        background-color: #ffaa2d;
        z-index: 100;
        width: 100%;
        height: 4em;
    }

    .dropdown-content{
        display: none;
    }

    .dropdown:hover .dropdown-content{  /*temporaneo, voglio farlo cliccando sul bottone*/
        display: block;
    }

    .dropdown-content ul{
        margin:auto;
        padding: 0.5em 0;
        line-height: 1.5;
        float: none;
    }

    .dropdown-content li{
        width: 100%;
        font-size: 1.3em;
        display: block;
        text-align: center;
        padding: 0.3em;
    }

    /*TOPCENTER*/

    #topcenter{
        margin-top:1em;
        margin-bottom:6.5em;
        text-align: center; /*da eliminare poi con aggiunta immagini*/
    }

    #photocontainer{
        width:27em;
        height:12em;
        position:relative;
        margin-left:auto;
        margin-right:auto;
        margin-top:4em;
        margin-bottom:4em;
        padding-top:6em;
        padding-bottom:6em;
        border-style: dotted;
        border-width: 0.1em;
    }

    /*LOWCENTER*/


    #rectangle1{
        width: 22em;
        height: 31em;
        display:block;
        margin:auto;
        border-style: solid;
        border-width: 0.06em;
    }
    #rect2{
        width: 22em;
        height:31em;
        margin-top:4em;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4em;
        border-style: solid;
        border-width:0.06em;
    }

    .content h3{
        text-align: center;
        font-size:1.2em;
        margin: 0.75em;
    }

    .content p{
        text-align: center;
        margin:1.25em;
        margin-top: 35%;
        font-size:1.15em;
    }


    /*FOOTER*/

    #footer{
        text-align:center;
        margin-bottom:15%;

    }

    #Fleft ul{
        margin-top:0.6em;
        margin-bottom:1.5em;
    }

    #Fleft li{
        margin-top:0.625em;
        padding-bottom:0.3em;
        list-style-type: none;
        font-size: 1.15em;
    }

    #Fleft a:link{
        text-decoration:none;
        color: black;
    }

    #Fleft a:visited{
        color:lightslategray;
    }

    #Fleft a:hover{
        color:orangered;
    }

    #Fcenter{
        margin-bottom:7em;
        margin-left:auto;
        margin-right:auto;
        width: 12em;
        height: 6em;
        border-style: none;
    }

    #Fcenter img{
        height: 6.5em;
        width: 8.5em;
        margin-bottom: 1em;

    }

    #Fcenter h3{
        font-size:1.3em;
    }

    #content{
        margin-bottom:0.5em;
    }

    #zero{
        padding-left:0.2em;
        margin-bottom:0.3em;
        font-weight:bolder;
        display:block;
    }

    #four{
        padding-left:0.2em;
        margin-top:0.3em;
        margin-bottom:0.3em;
        font-weight:bolder;
        display:block;
    }

    #Fright h3{
        padding-top:1.5em;
    }

    #fblogo{
        display: block;
        margin: auto;
        height: 4em;
        width: 4.5em;
        padding-top:2em;
        padding-left:0.3em;
        padding-right:0.5em;
    }

    #instalogo{
        display:block;
        margin:auto;
        height: 4.3em;
        width: 4.3em;
        padding-top:1em;
        padding-left:0.3em;
        padding-right:0.5em;

    }






}

@media screen and (min-width: 1280px) and (max-width: 1440px) {

    /*HEADER*/

    #logo{
        float:left;
        height: 9em;
        width: 12.5em;
        padding-top: 2%;
        padding-right:6%;
        padding-left:3%;

    }
    #header{
        padding-top:0em;
        padding-bottom: 5em;
        margin-bottom: 6em; /*era 6em, solo per lavorare 12em*/
    }

    #header ul{
        list-style-type: none;
        font-size: 1.2em;
    }


    #header li{
        float: left;
        padding:0.9em 0.9em 4.5em 5em;
        margin-top:4%;
    }

    /*TOPCENTER*/

    #topcenter{
        margin-top:1em;
        margin-bottom:4em;
        padding-top:2em;
        padding-bottom:6.25em;
    }
    #photocontainer{
        margin-left:26em;
        margin-right:18em;
        padding:12em;
        text-align:center;
        border-style: dotted;
        border-width: 0.1em;

    }

    /*LOWCENTER*/
    #rectangle1{
        margin-left:23%;
        margin-right:10%;
        width: 22em;
        height: 31em;
        border-style: solid;
        border-width: 0.06em;
        float:left;

    }
    .content h3{
        text-align: center;
        font-size:1.2em;
        margin: 0.75em;
    }

    .content p{
        text-align: center;
        margin:1.25em;
        margin-top: 35%;
        font-size:1.15em;
    }

    #rect2{
        margin-top:3.75em;
        width: 22em;
        height:31em;
        overflow: hidden;
        border-style: solid;
        border-width:0.06em;
        float:left;
    }


    /*FOOTER*/

    #footer{
        margin-top: 50%;
        margin-bottom:28%;
        padding: 1em 3em 3em 3em;
    }

    #Fleft{
        margin-right: 25%;
        margin-bottom: 9em;
        width: 15em;
        height: 6.25em;
        border-style: none;
        float:left;
    }
    #Fleft h3{
        font-size:1.3em;
    }

    #Fleft ul{
        margin-left: 1.8em;
        margin-top:0.6em;
        margin-bottom: 3em;
    }
    #Fleft li{
        margin-top:0.625em;
        padding-bottom:0.3em;
        list-style-type: none;
        font-size: 1.15em;
    }

    #Fleft a:link{
        text-decoration:none;
        color: black;
    }

    #Fleft a:visited{
        color:lightslategray;
    }

    #Fleft a:hover{
        color:orangered;
    }

    #Fcenter{
        margin-bottom:9em;
        margin-left:3em;
        width: 12em;
        height: 6em;
        border-style: none;
        float:left;
    }

    #Fcenter h3{
        font-size:1.3em;
    }

    #Fcenter img{
        height: 6.5em;
        width: 8.5em;
    }

    #content{
        margin-top:2em;
    }

    #content span{
        padding-top:0.2em;
        font-size:1.3em;
    }

    #zero{
        padding-left:0.8em;
        font-weight:bolder;
        display:block;
    }


    #one{
        margin-right:1em;
        display:block;
    }
    #two{
        padding-left:2.1em;
        display:block;
    }
    #three{
        padding-left:2em;
        display:block;
    }

    #four{
        margin-top:0.4em;
        padding-left:1.7em;
        font-weight: bolder;
        display:block;
    }

    #five{
        padding-left:1.2em;
    }

    #six{
        display:block;
        padding-left:1.25em;
    }

    #seven{
        display:block;
        padding-left:2.5em;
    }


    #Fright{
        margin-bottom:9em;
        margin-right:10em;
        width: 2em;
        height: 6.25em;
        border-style: none;
        float:right;
    }

    #Fright{
        font-size:1.3em;
    }

    #fblogo{
        height: 4em;
        width: 4.5em;
        padding-top:1em;
        padding-left:0.3em;
        padding-right:0.5em;
    }

    #instalogo{
        height: 4.3em;
        width: 4.3em;
        padding-top:1em;
        padding-left:0.3em;
        padding-right:0.5em;
        display:block;
    }

}

@media screen and (min-width: 1920px) {
    #logo{
        float:left;
        height: 9em;
        width: 12.5em;
        padding-top: 2%;
        padding-right:6%;
        padding-left:3%;

    }

    #header{
        padding-top:0em;
        padding-bottom: 6em;
        margin-bottom: 6em;
    }

    #header ul{
        list-style-type: none;
        width:auto;
        font-size: 1.25em;
    }


    #header li{
        float: left;
        padding:0.875em 6em 0.875em 6em;
        margin-top:4%;
    }



    /*TOPCENTER*/

    #topcenter{
        padding-top:3.15em;
        padding-bottom:6.25em;
    }
    #photocontainer{
        margin-left:31em;
        margin-right:31em;
        padding:12.5em;
        text-align: center;
        border-style: dotted;
        border-width: 0.125em;
    }


    /*LOWCENTER*/

    #rectangle1{
        margin-left:23%;
        margin-right:10%;
        width: 21.875em;
        height: 31.250em;
        border-style: solid;
        border-width: 0.063em;
        float:left;

    }

    .content h3{
        text-align: center;
        font-size:1.563em;
        margin: 0.750em;
    }

    .content p{
        text-align: center;
        margin:1.250em;
        margin-top: 35%;
        font-size:1.125em;
    }

    #rect2{
        margin-top:3.750em;
        width: 21.875em;
        height:31.250em;
        overflow: hidden;
        border-style: solid;
        border-width:0.063em;
        float:left;
    }

    /*FOOTER*/


    #footer{
        margin-top: 35%;
        margin-bottom:25%;
        padding: 3.125em 3.125em 3.125em 3.125em;
    }

    #Fleft{
        margin-right:12%;
        margin-bottom:9.375em;
        width: 21.875em;
        height: 6.250em;
        border-style: none;
        float:left;
    }
    #Fleft h3{
        margin-left: 1.250em;
        font-size:1.3em;
    }

    #Fleft ul{
        margin-left: 1.875em;
        margin-top:0.625em;
        margin-bottom: 3.125em;
    }
    #Fleft li{
        margin-top:0.625em;
        padding-top:0.063em;
        padding-bottom: 0.625em;
        list-style-type: none;
        font-size: 1.125em;
    }

    #Fleft a:link{
        text-decoration:none;
        color: black;
    }

    #Fleft a:visited{
        color:lightslategray;
    }

    #Fleft a:hover{
        color:orangered;
    }

    #Fcenter{
        padding-left: 10%;
        margin-bottom:9.5em;
        width: 21.875em;
        height: 6.250em;
        border-style: none;
        float:left;
    }

    #Fcenter h3{
        font-size:1.3em;
    }

    #Fcenter img{
        height: 6.5em;
        width: 8.5em;
        padding-left:0.3em;
        padding-right:0.5em;

    }

    #content{
        margin-top:2em;
    }

    #content span{
        padding-top:0.2em;
        font-size:1.3em;
    }

    #zero{
        margin-left:1em;
        margin-bottom:0.3em;
        font-weight:bolder;
        display:block;
    }

    #one{
        display:block;
    }

    #two{
        margin-left:2em;
    }

    #three{
        padding-left:1.8em;
        display:block;
    }

    #four{
        margin-top:0.5em;
        margin-bottom:0.5em;
        margin-left: 1.6em;
        font-weight: bolder;
        display:block;
    }

    #five{
       margin-left:1em;
        display:block;
    }

    #six{
        display:block;
        margin-left:1em;
        text-align:left;
    }

    #seven{
        margin-left:2.3em;
        display:block;
        padding-top:0.2em;
    }


    #Fright{
        margin-bottom:9.375em;
        width: 21.875em;
        height: 6.250em;
        border-style: none;
        float:right;
    }

    #Fright{
        font-size:1.3em;
    }

    #fblogo{
        height: 4em;
        width: 4.5em;
        padding-top:1em;
        padding-left:0.3em;
        padding-right:0.5em;
    }

    #instalogo{
        height: 4.3em;
        width: 4.3em;
        padding-top:1em;
        padding-left:0.3em;
        padding-right:0.5em;
        display:block;
    }
}

