/* VIAGGI CSS*/

    .mainBody {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0;
    clear: both;
    display: inline-block;
    width: 100%;
}

    #Ptrip .textBlock {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}

    #topTitle h1 {
    font-size: 4em;
    padding: 0;
    width: 100%;
    background-color: #ffaa2d;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

    #Ptrip .paragraph {
    clear: both;
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5%;
    padding-right: 5%;
    width: 78%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #ffaa2d;
    border-radius: 4px;
}

    #Ptrip .paragraph h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    #Ptrip .paragraph h3 {
        font-size: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 1.2em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    #Ptrip .paragraph p {
        font-size: 1.2em;
        color: black;
        text-align:center;
        letter-spacing: 1px;
    }

    #Ptrip .paragraph a{
        font-size: 24px;
        color: black;
    }

    #Ptrip #helpDesk{
        font-style: italic;
    }

    #Ptrip .paragraph h4{
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 2%;
    }

    #Ptrip .paragraph h5{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-top:3%;
    margin-bottom: 1%;
}

    #Ptrip #voyageList li{
        margin-top:0.3em;
        margin-left:3%;
        text-align: left;
        list-style:square;
        font-size:1.2em;

    }

    #Ptrip .paragraph img {
        width:98%;
        height:auto;
        margin-top:3%;
        max-width: 500px;
        display: inline-block;
        border: 2px solid #ffaa2d;
        border-radius:4px ;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    #Ptrip .overlay{
        height: auto;
        width: 100%;
    }

    #Ptrip .overlay:hover img {
        transform:scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    .mainBody h1 {
        text-align: center;
        margin: auto;
}

    #Ptrip #fbgroup{
        height:auto;
        margin-top:2%;
        width:15%;
        min-width:100px;
        border:none;
    }

    #Ptrip #infoBox a{
        padding: 15px 25px 15px 25px;
        background-color: #ff9b17;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2em;
        letter-spacing: 2px;
        border: 3px solid #ff8713;
    }

    #Ptrip #infoBox a:hover{
    background-color: #ff5b19;
}

/*FINE PARTE COMUNE VIAGGI CSS*/




/*Tickets CSS*/
    #lineUpBody {
    display: inline-block;
    width: 100%;
    margin-bottom: 3em;
}

    .lineUpSumUp {
    float: left;
    text-align: center;
    width: 27%;
    margin: 1%;
    padding-left: 1em;
    padding-right: 1em;
}

    .lineUpSumUp h3 {
        font-size: 3em;
        margin-top: 0.5em;

    }

    .purButton {
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    background-color: #ffaa2d;
    border: 0px solid;
}

    .artists {
    font-weight: bold;
    font-size: 1.5em;
}

    #Prezzi {

        margin-left: 5%;
        margin-right: 10%;
        margin-top: 3em;
        margin-bottom: 2em;
        padding: 0;
    }

    #Prezzi h2 {
            font-size: 3em;
            margin-bottom: 1em;
        }

    .purTicket {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        overflow: hidden;
        display: inline-block;
    }

    .purTicket input {
            margin: 0;
            float: right;
        }

    .ticketDay {
        display: inline-block;
        width: 50%;
        }

    .ticketPrice {
       display: inline-block;
       margin: 0;
       width: 30%;
    }

    .strongText {
        font-weight: bold;
    }

/*TABLET layout*/
@media screen and (min-width:768px) and (max-width:1024px) {
    
    .paragraph {
        border-width: 0.5vw;
    }

    #Prezzi {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3em;
        padding: 0;
        text-align: center;
    }

    #Prezzi h2 {
            
        }

    .purTicket {
        text-align: center;
        padding-bottom: 1em;
    }

    .purTicket input {
            position:center;
            width: 28%;

            margin-left: 36%;
            margin-right: 36%;
        }

    .ticketDay {
        width: 100%;
        margin-bottom: 1em;
    }

    .ticketPrice {
        width: 100%;
        margin-bottom: 0.5em;
    }

    #footerTrip{
        margin-top:5%;
        text-align:center;
    }


}

/*PHONE layout*/
@media screen and (min-width:320px) and (max-width:767px) {

    /*TRIP*/
    #topTitle h1 {
        font-size: 2em;
    }

    .paragraph {
        margin-left: 0;
        margin-right: 0;
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        border-width: 1px;
    }

    #footerTrip{
        margin-top:5%;
        text-align:center;
    }

    /*TICKETS*/

    .lineUpSumUp {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #Prezzi {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    #Prezzi h2 {
            font-size: 3em;
            margin-bottom: 0.5em;
            background-color: #ffaa2d;
            padding-bottom: 5px;
            padding-top: 5px;
        }

    .purTicket {
        
        padding-bottom: 1em;
    }

    .purTicket input {
            position: center;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
        }

    .ticketDay {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1em;
    }

    .ticketPrice {
        width: 100%;
        margin-bottom: 0.5em;
    }
}



/*END tickets CSS*/
